
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.categoryDescription</td>
            <td>@item.CategoryStatus</td>
            
            <!-- Diğer sütunlar eklenebilir -->
        </tr>
    }
</table>
<br />
<a href="/Category/AddCategory" class="btn btn-info">Yeni Kategori</a>